body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    background-color: #19566b;
    border:none;
    color: white;
    height:13vh;
    width:20vw;
    border-radius: 1vw;
    font-size: 4.7vh;
}

button:hover {
    cursor: pointer;
    box-shadow: 1.3vw 2.5vh 10px grey;
    background-color: #147b8a;
    transform: scale(101%);
}